---
layout: page
title: Upcoming Events
permalink: /events/
---

<div class="row jumbotron p-3 mb-3 scroll-animate fade-in scroll-once">
  <div class="col">
    <h2>Sunday Services</h2>
    <p>We meet every Sunday at 9am and 10:45am at 200 Colombo St.</p>
    <a class="btn btn-primary" href="/visit/sundays">Find out more</a>
  </div>
</div>

{% assign today_date = 'today' | date: '%s' %}
{% assign events = site.events | order: "date"  %}

<div class="row">
  <!-- -->
  {% for event in events %}
  {% assign event_date = event.date | date: '%s' %}
  {% if event_date >= today_date %}
  <div class="col-sm-4 mb-3 scroll-animate fade-in-bottom scroll-once">
    <b style="color:#999">{{ event.date | date: "%b %d" }}</b><br />
    <h3>{{ event.title }} </h3>
    {{ event.content }}

    {% if event.tag == "visitors" %}
    <span class="badge badge-pill badge-info">{{ event.tag }}</span>
    {% else %}
    <span class="badge badge-pill badge-secondary">{{ event.tag }}</span>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>
<div class="row jumbotron p-3 mb-3 scroll-animate fade-in-bottom scroll-once">
  <div class="col">
    <p>Interested in coming to one of the events? <a href="/contact">Let us know</a>.</p>
    <a class="btn btn-primary" href="/contact">Contact Us</a>
  </div>
</div>

