---
layout: base
title: Welcome to Trinity
permalink: /
---

<div class="vignette vignette-small p-0 m-0" style="position:relative;">
  <img style="width:100%" alt="{{ page.title }}" src="/media/banners/youth-3.jpg" />
  <h1 style="position:absolute; top:10%; left:10%;">{{ page.title | escape }}</h1>
</div>
<div class="container">
  <main>
    <div class="row jumbotron p-4 mt-4">
      <div class="col-sm-4">
        <h2>Welcome</h2>
        <p>We meet every Sunday at <b>9 am</b> and <b>10:45am</b> at <a href="/visit/location">200 Colombo St, Sydenham</a>.<p>
        <a class="btn btn-primary" href="/visit/sundays">I'm New</a>
        <a class="btn btn-info" href="https://www.google.com/maps/dir//200+Colombo+Street,+Sydenham,+Christchurch+8023/" target="_blank">Directions</a>
      </div>
      <div class="col-sm-4">
        <a href="/visit/location"><img src="/media/maps/zoom-2.png" class="round"></a>
      </div>
      <div class="col-sm-4">
        <h2>Our Mission</h2>
        <p>We are an Anglican evangelical Church made up of Christians of all ages and from all walks of life.  Our desire is to hear Jesus speak, see Jesus work, and share Jesus’ love.</p>
        <a href="/about/what-we-believe" class="btn btn-primary">Find out more</a>
        <a href="/about/our-leadership" class="btn btn-info">Our Team</a>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <h2>Our latest expository sermon on Spotify</h2>
        <iframe style="border-radius:6px" src="https://open.spotify.com/embed/show/6kObfpMFJbH71CT1MiKo48" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <p>We recently published our 1,000th sermon! See our full <a href="/listen">Sermon Archive</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Upcoming Visitor Events</h2>
      </div>

      {% assign today_date = 'today' | date: '%s' %}
      {% assign events = site.events | where: "tag", "visitors" | order: "date"  %}
      {% for event in events %}
      {% assign event_date = event.date | date: '%s' %}
      {% if event_date >= today_date %}
      <div class="col-sm-4 mb-3">
        <b style="color:#999">{{ event.date | date: "%b %d" }}</b><br />
        <h3>{{ event.title }} </h3>
        {{ event.content }}

        {% if event.tag == "visitors" %}
        <span class="badge badge-pill badge-info">{{ event.tag }}</span>
        {% else %}
        <span class="badge badge-pill badge-secondary">{{ event.tag }}</span>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </main>
</div>


