---
layout: page
title: Members
permalink: /members/
---

<div class="row mt-4 p-1 jumbotron">
  <div class="col-12">
      <h2>Serving</h2>
      <p>In the coming weeks we will be putting together the 10:45am seasonal serving rosters for December - February.</p>
      <p>To assist Mackenzie with this please fill in the <a href="/rosters">rosters form</a> with the areas you would like to serve in, and what dates you are available.</p>
  </div>
</div>




<h2>Upcoming Member Events</h2>
<div class="row">
  {% assign today_date = 'today' | date: '%s' %}
  {% assign events = site.events |   where_exp: "event", "event.tags contains 'members'" | order: "date"  %}
  {% for event in events %}
  {% assign event_date = event.date | date: '%s' %}
  {% if event_date >= today_date %}
  <div class="col-sm-4 mb-3 scroll-animate fade-in-bottom scroll-once">
    <b style="color:#999">{{ event.date | date: "%b %d" }}</b><br />
    <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
    {{ event.excerpt }}

    {% if event.tag == "visitors" %}
    <span class="badge badge-pill badge-info">{{ event.tag }}</span>
    {% else %}
    <span class="badge badge-pill badge-secondary">{{ event.tag }}</span>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>

