---
layout: page
title: Members
permalink: /members/
---

<div class="row mt-2 p-3 jumbotron">
  <div class="col-12">
    <h2>Serving</h2>
    <p>
      We are currently putting together our March to May serving rosters. Serving your brothers and sisters
      is a great way to exercise your love for Jesus and his people. (And signing up is a great way to show your
      love for our administrator, who has to work out all the rosters.) <br/>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuIS7WwmTD4BqTRXhOmswKVm9-_cuppbCY3k628ImxQqFqbg/viewform
">Sign up here</a>.
    </p>
  </div>
</div>


<div class="row">
  {% assign articles = site.articles |  where_exp: "article", "article.tags contains 'members'" %}
  {% for article in articles %}
  <div class="col-sm-4 mb-3 scroll-animate fade-in-bottom scroll-once">
    <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
    {{ article.excerpt }}

  </div>
  {% endfor %}
</div>


<div class="row mt-2 p-3 jumbotron">
  <div class="col-12">
    <h2>Save the Date - Church Weekend Away 2025</h2>
    <p>
      Our 2025 Church Weekend Away is taking place at Woodend Camp from the 14th-16th of March.
      Tim Capill, the Assistant Minister at Latimer Church. Save the date or, if you're feeling particularly keen,
      <a href="/cwa">sign up now</a>.
    </p>
  </div>
</div>


<h2>Upcoming Member Events</h2>
<div class="row">
  {% assign today_date = 'today' | date: '%s' %}
  {% assign events = site.events |   where_exp: "event", "event.tags contains 'members'" | order: "date"  %}
  {% for event in events %}
  {% assign event_date = event.date | date: '%s' %}
  {% if event_date >= today_date %}
  <div class="col-sm-4 mb-3 scroll-animate fade-in-bottom scroll-once">
    <b style="color:#999">{{ event.date | date: "%b %d" }}</b><br />
    <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
    {{ event.excerpt }}

    {% if event.tag == "visitors" %}
    <span class="badge badge-pill badge-info">{{ event.tag }}</span>
    {% else %}
    <span class="badge badge-pill badge-secondary">{{ event.tag }}</span>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>

