.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  text-transform: uppercase;
}

/* Make sure the footer appears at the bottom of the screen on short pages */
body {
   height: 100vh;
}

body > footer {
  position: sticky;
  top: 100vh;
}


/* Vignette: https://codepen.io/burtclan/pen/NgPjva */
.vignette {
  position: relative;
  color: white;
}

  /* This tells the browser to zoom in and crop. */
  /* override this for larger srcreens in the media query section */
  .vignette img {
    height: 300px;
    object-fit: cover;
  }

  .vignette:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    box-shadow: inset 0 0 40px 20px rgba(0, 0, 0, 0.7);
  }

  .vignette.vignette-small:after {
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.7);
  }

  .vignette.vignette-large:after {
    box-shadow: inset 0 0 80px 40px rgba(0, 0, 0, 0.7);
  }

/* In-banner text is floated above the banner using absolute positioning
   To fix the alignment with the rest of the page, the left value is calculated
   in the media query section as (100vw - max-width) / 2,
   100vw representing screen width.
*/
.in-banner {
  text-shadow: 0 0 4px #333;
  position: absolute;
  top: 10%;
}

@media only screen and (max-width: 576px) {
   .in-banner{
      font-size: 2rem;
      left: 10px;
   }
   .navbar-brand img{
      height:60px;
   }
}


  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1.0);
}

h1 {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* FAQs */
details {
  padding: 10px;
  background-color: var(--light);
  border-radius: 10px;
  margin-bottom:10px;
}

  details p {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    padding: 10px;
    margin: 0;
  }

summary {
  color: var(--blue);
  font-weight: bold;
}
  summary::marker {
    color: var(--blue);
    font-size: 1.2em;
  }



/* Footer */
footer .nav-item .nav-link {
  padding: 0;
}

footer {
  position: relative;
  min-height: 150px;
  overflow: hidden;
}

  footer:before {
    content: ' ';
    display: block;
    position: absolute;
    left: -20%;
    top: -10%;
    width: 150%;
    height: 150%;
    opacity: 0.4;
    background-image: url("/media/logos/trinity-white.png");
    background-repeat: no-repeat;
    background-position: 10% 0;
    background-size: 30%;
    background-clip: border-box;
  }

.row {
  position: relative;
  z-index: 1;
}

.jumbotron {
  position: relative;
  background-clip: padding-box;
  /* The background image below will otherwise spill over, creating a horizontal scroll bar. */
  overflow: hidden;
  /* This combines with z-index on the psudo-element to keep the background image visibule, but behind the jumbotron contents */
  transform-style: preserve-3d;
}

  .jumbotron:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 40%;
    top: 10%;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("/media/logos/trinity-white.png");
    background-repeat: no-repeat;
    background-position: 10% 0;
    background-size: 60%;
    transform: translateZ(-1px);
    z-index:-1;
  }

jumbotron * {
  transform: translateZ(1px);
}

.locators {
  background-color: var(--light);
  text-align: center;
}

  .locators img {
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid #ddd;
  }

    .locators img:hover {
      border: 1px solid #aaa;
    }

    .locators img[width] {
      width: auto; /* Defer to max-width */
    }

      .locators img[width][height] {
        height: auto; /* Preserve aspect ratio */
      }

  .locators p {
    margin-top: 1rem;
    text-align: center;
  }


.leadership {
  background-color: var(--light);
}

.people img {
  border-radius: 50%;
}

img.round {
  border-radius: 50%;
}


.panel {
  background-color: blue;
  padding: 1em;
  color: white;
}

  .panel .faded {
    color: blue;
  }

img {
  max-width: 100%;
}


/* Stylised Text */
.brochure {
  color: #082A52;
  font-size: 1.5rem;
  font-family: "Crimson Text"
}

p.brochure {
  width: 80%;
  margin-left: 10%;
}

.brochure strong {
  background-color: #F7F2EB;
  color: #D56F3E;
  font-weight: bolder;
}

/* MEDIA QUERIES */
/* Stop the toggler dropping onto a new line*/
@media (max-width: 500px) {
  .navbar-brand {
    display: contents;
  }

    .navbar-brand img {
      max-width: 70%;
    }
}

/* No media query for `xs` since this is the default in Bootstrap
   Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .leadership {
    border-radius: 20px;
  }

  .in-banner {
    max-width: 540px;
    left: calc(50vw - 270px);
    font-size: 3rem;
  }

  .navbar-brand img {
    height: 90px;
  }
  .jumbotron {
    border-radius: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .vignette img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .in-banner {
    left: calc(50vw - 360px);
  }



}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* show secondary menu a little above the main menu */
  .navbar-nav.secondary {
    margin-top: -60px;
    margin-right: 5%;
  }

    .navbar-nav.secondary .nav-link {
      color: #808181;
    }

  .in-banner {
    max-width: 960px;
    left: calc(50vw - 480px)
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .in-banner {
    max-width: 1140px;
    left: calc(50vw - 570px)
  }
}
