<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>
  <!-- Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/media/logos/logo-brown.png" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-md-flex mr-md-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/about" id="navbarAboutLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarAbout">
              <li><a class="dropdown-item" href="/about/who-we-are">Who We Are</a></li>
              <li><a class="dropdown-item" href="/about/our-leadership">Our Leadership</a></li>
              <li><a class="dropdown-item" href="/about/missions">Our Mission Partners</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/visit" id="navbarVistLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Visit
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarVist">
              <li><a class="dropdown-item" href="/im-new">I'm New</a></li>
              <li><a class="dropdown-item" href="/visit/sundays">Sundays</a></li>
              <li><a class="dropdown-item" href="/visit/sundays">Sundays</a></li>
              <li><a class="dropdown-item" href="/visit/location">Location</a></li>
              <li><a class="dropdown-item" href="/introducing-god">Introducing God</a></li>
              <li><a class="dropdown-item" href="/christianity-explored">Christianity Explored</a></li>
              <li><a class="dropdown-item" href="/visit/evening">Evening Service</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listen">Listen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ministries">Ministries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav secondary">
          <li class="nav-item">
            <a class="nav-link" href="/members">members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/give">give</a>
          </li>
        </ul>

        <!--<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
  </form>-->
      </div>
    </div>
  </nav>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="/assets/scripts/site.js"></script>
</body>

</html>
